html
    title #{title}
    body
        h1 #{message}
        p #{data}
        form(action="/addpost" method="post")
            input(
                type='text'
                name='coursename'
                placeholder='Course Name'
            )
            input(
                type='text'
                name='coursecode'
                placeholder='Course Code'
            )
            input(
                type='text'
                name='professor'
                placeholder='Professor Name'
            )
            input(
                type='submit'
            )

